<ion-content>
    <div class="wrapper">
        <div class="header">
            <div class="name">
                <h1>Social Elderly</h1>
            </div>
            <div class="logo">
                <img src="../../assets/1141066.svg" alt="hi">
            </div>
        </div>
        <div class="row">
            <div class="icon-activity">

            </div>
            <div class="icon-feed">

            </div>
            <div class="icon-friends">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</ion-content>
