<ion-content>
    <div class="wrapper">
        <!-- page landing -->
        <div class="header">
            <div class="name">
                <h1>Social Elderly</h1>
            </div>
            <div class="logo">
                <img src="../../assets/1141066.svg" alt="Image error">
            </div>
        </div>
        <div class="row">
            <div class="icon">
                <a href="/activity">
                    <img src="../../assets/Activity.png" alt="Image error">
                    <h1>Aktiviter</h1>
                </a>
            </div>
            <div class="icon">
                <img src="../../assets/Award.png" alt="Image error">
                <h1>Vänner</h1>
            </div>
            <div class="icon">
                <a href="/feed">
                    <img src="../../assets/Apple.png" alt="Image error">
                    <h1>Feed</h1>
                </a>
            </div>
        </div>
        <div class="footer">
                <img src="../../assets/image11.png" alt="Image error">
                <h1>Kontakta oss</h1>
                <ion-button (click)="logout()"> Logga ut </ion-button>
        </div>
    </div>
</ion-content>
