.wrapper {
    width: 100%;
    height: 1080px;
    background-color: #449BB5;
    .header {
        width: 100%;
        height: 15%;
        background-color: #043D5D;
        display: flex;
        flex-direction: row;
        .name {
            display: flex;
            width: 50%;
            height: 100%;
            justify-content: center;
            h1 {
                color: white;
                margin: 0;
                margin-top: 50px;
                font-size: 4em;
            }
        }
        .logo {
            display: flex;
            width: 50%;
            height: 111%;
            flex-direction: row-reverse;
            img {
                width: 50%;
                margin-right: 100px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .wrapper {
        .header {
            .name {
                font-size: 0.4em;
            }

            .logo {
                img {
                    margin-right: 50px;
                }
            }
        }
    }
}
