<ion-header>
  <ion-toolbar>
    <ion-title>streaming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
      <div class="wrapper">
          <div class="stream">
            
              <h1>Stream Name</h1>
              <div class="window">
                  <button disabled>
                      take a snapshot
                    </button>
                    <video></video>

              </div>
          </div>
          <div class="style_1">

          </div>
          <div class="style_2">

          </div>
      </div>
    </div>
</ion-content>
