<ion-content>
  <div class="ion-padding">
    <div class="wrapper">
        <a href="landningpage">
        <div class="header">
            <div class="name">
                <h1>Social Elderly</h1>
            </div>
            <div class="logo">
                <img src="../../assets/1141066.svg" alt="Image error">
            </div>
        </div>
        </a>
        <div class="row">
            <div class="stream">
                <h1>Stream Name</h1>
                <div id="window" class="window">
                    <video></video>

                    <button class="snapshot">take a snapshot</button>
                    <img id="imageA" class="imageA" src="" alt="" />
                </div>
            </div>
      </div>
      <div class="footer">
              <img src="../../assets/image11.png" alt="Image error">
              <h1>Kontakta oss</h1>
      </div>
    </div>
  </div>
</ion-content>
