<ion-content>

        <div class="wrapper">
            <a href="landingpage">
            <div class="header">
                <div class="name">
                    <h1>Social Elderly</h1>
                </div>
                <div class="logo">
                    <img src="../../assets/1141066.svg" alt="Image error">
                </div>
            </div>
            </a>
        <div class="row">
            <div class="input">
                <div class="name">
                    <ion-item>
                        <ion-input type="text" [(ngModel)]="activity_title" placeholder="Title"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" [(ngModel)]="activity_description" placeholder="Description"></ion-input>
                    </ion-item>
                </div>
                <div class="time">
                    <ion-item>
                        <ion-input type="text" [(ngModel)]="activity_startdate" placeholder="Start datum (HH:MM - DD/MM/YY)"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" [(ngModel)]="activity_enddate" placeholder="Slut datum (HH:MM - DD/MM/YY)"></ion-input>
                    </ion-item>
                </div>
                <div class="invites">
                    <ion-item>
                        <ion-label>Inbjudningsform</ion-label>
                        <ion-select placeholder="Select One" [(ngModel)]="activity_permission">
                            <ion-select-option value="1">Inbjudna enbart</ion-select-option>
                            <ion-select-option value="2">Vänner enbart</ion-select-option>
                            <ion-select-option value="3">Alla välkommna</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>

                <ion-button size="large" (click)="create_activity()" expand="block">Skapa aktivitet</ion-button>

            </div>
        </div>
    </div>
</ion-content>
