<ion-content>
        <div class="wrapper">
            <div class="header">
                <div class="name">
                    <h1>Social Elderly</h1>
                </div>
                <div class="logo">
                    <img src="../../assets/1141066.svg" alt="Image error">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input">
                <ion-item>
                    <ion-input type="text" placeholder="Email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="text" placeholder="Förnamn"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="text" placeholder="Efternamn"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="password" placeholder="Password"></ion-input>
                </ion-item>

                <ion-button size="large" href="/touchid" expand="block">Login</ion-button>

            </div>
        </div>
</ion-content>
