<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h4>Login Form</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
				</ion-item>
			</div>

			<div padding>
				<ion-button size="large" expand="block" (click)="login();">Login</ion-button>
			</div>

			<div padding>
				<ion-button size="large" expand="block" (click)="this.router.navigate(['register']);"> Registrera ett konto </ion-button>
			</div>

		</ion-col>
	</ion-row>
</ion-grid>
