html {
    height: auto;
}
ion-content {
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-color: #449BB5;
    .header {
        width: 100%;
        height: 200px;
        background-color: #043D5D;
        display: flex;
        flex-direction: row;
        .name {
            display: flex;
            width: 50%;
            height: 100%;
            justify-content: center;
            h1 {
                color: white;
                margin: 0;
                margin-top: 50px;
                font-size: 4em;
            }
        }
        .logo {
            display: flex;
            width: 50%;
            height: 111%;
            flex-direction: row-reverse;
            img {
                width: 50%;
                margin-right: 100px;
            }
        }
    }
    .row{
        background-color: #449BB5;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
        padding-bottom: 10%;
        .feed {
            width: 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .card {
                width: 90%;
                background-color: #68c39f;
                margin-top: 50px;
                border-radius: 50px;
                justify-content: center;
                padding-bottom: 5%;
                h1 {
                    font-size: 3em;
                    text-align: center;
                }
                h2 {
                    width: 80%;
                    margin: 0 auto;
                }
                hr {
                    background-color: white;
                    width: 90%;
                    margin: 0 auto;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    .frame {
                        margin: 0 auto;
                        background-color: white;
                        width: 20%;
                        border-radius: 100%;
                    }
                }
                .info {
                    display: flex;
                    justify-content: space-around;
                    h3 {
                        margin: 0;
                        font-size: 1.3em;
                    }
                    h3 {
                        margin: 0;
                        float: right;
                        right: 0;
                    }
                }
            }
        }
    }
}
