<ion-content>
    <div class="wrapper">
        <div class="header">
            <div class="name">
                <h1>Social Elderly</h1>
            </div>
            <div class="logo">
                <img src="../../assets/1141066.svg" alt="Image error">
            </div>
        </div>
        <div class="row">
            <div class="input">
                <ion-item>

                    <ion-input [(ngModel)]="email_input" type="text" placeholder="Email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input [(ngModel)]="firstname_input" type="text" placeholder="Förnamn"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input [(ngModel)]="lastname_input" type="text" placeholder="Efternamn"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input [(ngModel)]="password_input" type="password" placeholder="Password"></ion-input>
                </ion-item>

                <ion-button size="large" (click)="register()" expand="block">Registrera</ion-button>


            </div>
        </div>
        <div class="footer">
            <img src="../../assets/image11.png" alt=":)">
            <h1>Kontakta oss</h1>
        </div>
    </div>
</ion-content>
