<ion-header>
  <ion-toolbar>
    <ion-title>
      Senila senioer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="wrapper">
        <div class="image">
            <img src="../../assets/8a9.jpg" alt="img loading error">
        </div>
        <div class="button">
            <ion-button href="/login">Logga in</ion-button>
            <ion-button href="streaming"> Streaming </ion-button>
        </div>
        <div class="style_1">

        </div>
        <div class="style_2">

        </div>
    </div>
  </div>
</ion-content>
