<ion-content>
    <div class="wrapper">
        <div class="header">
            <div class="name">
                <h1>Social Elderly</h1>
            </div>
            <div class="logo">
                <img src="../../assets/1141066.svg" alt="Image error">
            </div>
        </div>
        <div class="row">
            <div class="button">
                <div class="item">
                    <a href="/login">
                        <h1>Logga in</h1>
                        <img src="https://img.icons8.com/dusk/512/000000/login-rounded-right.png">
                    </a>
                </div>
                <div class="item push">
                    <a href="/streaming">
                        <h1>Streaming</h1>
                        <img src="../../assets/icons8-spotify-512.png">
                    </a>
                </div>
        </div>
            <div class="footer">
                    <img src="../../assets/image11.png" alt="Image error">
                    <h1>Kontakta oss</h1>
            </div>
        </div>
    </div>
</ion-content>
